<div class='py-4 text-center'>
  <%= button_to 'Back', puzzles_path, method: :get, class: 'btn btn-primary' %>
</div>


<h3 class='pb-3 text-center'>All-Time Statistics</h3>

<table class='table'>
  <thead>
  <th scope="col">Puzzles Solved</th>
  <th scope="col">Solve Rate</th>
  <th scope="col">Average Time</th>
  <th scope="col">Total Errors</th>
  <th scope="col">Total Revealed</th>
  </thead>

  <tbody>
    <tr>
      <td><%= @statistics.completed_count %></td>
      <td><%= @statistics.percent_completed %> %</td>
      <td><%= @statistics.formatted_average_time %></td>
      <td><%= @statistics.error_count %></td>
      <td><%= @statistics.revealed_count %></td>
    </tr>
  </tbody>
</table>
