<div class='py-4 text-center'>
  <%= button_to 'Add Puzzle', new_puzzle_path, method: :get, class: 'btn btn-primary' %>
  <%= link_to 'All-Time Statistics', statistics_path, class: 'mt-2 d-inline-block text-secondary' %>
</div>

<div>
  <h3 class='pb-3 text-center'>Stats for <%= current_day.titleize %>s</h3>

  <%= render 'partials/stats', stats: @daily_stats %>
</div>

<table class='table table-dark'>
  <thead>
    <th scope="col"><%= sortable_header(params, 'date') %></th>
    <th scope="col"><%= sortable_header(params, 'day_of_week', 'Day of Week') %></th>
    <th scope="col"><%= sortable_header(params, 'completed', 'Completed?') %></th>
    <th scope="col"><%= sortable_header(params, 'time_taken_in_seconds', 'Time Taken') %></th>
    <th scope="col"><%= sortable_header(params, 'source') %></th>
    <th scope="col"><%= sortable_header(params, 'error_count', 'Errors') %></th>
    <th scope="col"><%= sortable_header(params, 'revealed_count', 'Revealed') %></th>
  </thead>

  <tbody>
    <% @puzzles.each do |puzzle| %>
      <tr>
        <td><%= link_to puzzle.date.strftime('%m-%d-%Y'), edit_puzzle_path(puzzle) %></td>
        <td><%= puzzle.day_of_week %></td>
        <td><%= puzzle.completed? ? 'Yes' : 'No' %></td>
        <td><%= puzzle.formatted_time %></td>
        <td><%= puzzle.source_name %></td>
        <td><%= puzzle.error_count %></td>
        <td><%= puzzle.revealed_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
